html {
    scroll-behavior: smooth;
}

/*Background image*/
.hero.is-link {
    background-image: url(https://images.unsplash.com/photo-1522124624696-7ea32eb9592c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)!important; 
    background-size: cover !important;
}

/*Header Info*/
#main {
    font-size: 7rem;
    font-family: 'Permanent Marker', cursive !important;
    color: white;
}

#main-sub {
    font-family: 'Montserrat', sans-serif, !important;
    color: white;    
}

/*Navigation Links*/
.navbar-menu {
    margin-right: 0.5rem;
}

/*Profile Picture*/
#profile-picture {
    height: 35% !important;
    width: 35% !important;
    justify-content: center;
}

.is-horizontal-center {
    justify-content: center;
}

/*About Me*/
.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
}

/*Portfolio Sections*/
.title {
    font-size: 2em, !important;
    font-family: 'Permanent Marker', cursive !important;
    color: white;
}

.portfolio-container .card {
    margin-bottom: 2em;
}

/**Break point**/ 

@media screen and (max-width: 762px) {

}